body
{
  background-color:#F4F3F3;
}

hr{
border-style: none;
border-top-style:dotted;
width: 5%;
border-width: 8px;
border-color: grey;

}

h1{
  font-style: oblique;
  font-family: sans-serif;
  color: #525E75;
}

h3{


  font-style: oblique;
  font-family: sans-serif;
  color: #525E75;
}

.one{
  background-color: yellow;
}
